<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div style="font-family: arial, helvetica; text-align: left; margin: 15px auto; padding: 7px; border: 1px solid #448AFF; border-radius: 3px; width: 80%;">
        <div style="margin: 7px; padding: 10px;">
            <h1 style="color:#448AFF; margin-top: 10px;">Hi {{ user }}</h1>
            <p>Thanks for getting in touch with me. <br/>
                I will get back to you as soon as possible to discuss your idea further. <br><br>
                Kindest regards <br><br>
                Edson Cudjoe
            </p>
            <p>
                Your name: {{ user }}
                <br><br>
                Your email address: {{ addr }}
                <br><br>
                Your message: {{ msg }}
            </p>
            <p>For support requests, please contact me on <a href="mailto:support@edsoncudjoe.com">support@edsoncudjoe.com</a></p>
            </div>
    <br><br>
    <!--<a href="#">unsubscribe</a>-->
    </div>

</body>
</html>